<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/company">ITcompanies</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li> <a routerLink="/company">Список компаний</a> </li>
                    <li> <a routerLink="/employee">Список сотрудников</a> </li>
                    <li> <a routerLink="/product">Список продуктов</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="page-header">
    <h1> Список продуктов</h1>
</div>
<div class="panel">
    <a routerLink="/product/create" class="btn btn-warning">Добавить</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название продукта</th>
            <th>Версия продукта</th>
            <th>Тип лицензии</th>
            <th>Лицензионный период</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.version}}</td>
            <td>{{product.type_license}}</td>
            <td>{{product.license_period}}</td>
            <td><button (click)="edit(product)" class="btn btn-sm btn-primary">Изменить</button></td>
            <td><button (click)="delete(product.id)" class="btn btn-sm btn-danger">Удалить</button></td>
            <td><button (click)="select(product)" class="btn btn-info">Подробнее</button></td>
        </tr>
        </tbody>
    </table>
</div>