<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Заголовок -->
            <div class="navbar-header">

                <a class="navbar-brand" routerLink="/company">ITcompanies</a>
            </div>
            <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
            <div class="collapse navbar-collapse" id="navbar-main">
                <!-- Содержимое основной части -->

                <ul class="nav navbar-nav">
                    <li> <a routerLink="/company">Список компаний</a> </li>
                    <li> <a routerLink="/employee">Список сотрудников</a> </li>
                    <li> <a routerLink="/product">Список продуктов</a> </li>
                </ul>

            </div>
        </div>
    </nav>
</div>